<nav-root></nav-root>
<div class="content-container">
    <div *ngIf="!isEnable" class="content-area">
        <div class="clr-col-lg-10 clr-col-md-10 clr-col-20" *ngFor="let article of articleList">
            <div class="card">
                <div class="card-header" id="card_title">
                    {{article.title}}
                </div>
                <div class="card-block" id="card">
                    <div class="card-title">
                        {{article.topic}}
                    </div>
                    <div class="card-text">
                        {{cardViewTextChunck(article.text)}}
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-info" (click)="showPreview(article.text, article.title )">show preview</button>
                    <button class="btn btn-sm btn-info" (click)="showcompleteArticle(article)">complete article</button>

                    <h6 id="author">author: {{article.author}}</h6>

                </div>
            </div>
        </div>

    </div>
    <div *ngIf="isEnable" class="content-area card" @slideFromR>

        <div class="card-container">
            <div class="card-header">
                {{previewTitle}}
            </div>
            <div id="previewButton">
                <button type="button" class="btn btn-sm btn-link" aria-label="home" (click)="removePreview()">X</button>
            </div>
            <div id="preview">{{previewText}}</div>
            <div id="previewButton">
                <button type="button" class="btn btn-sm btn-link" aria-label="home" (click)="removePreview()">X</button>
            </div>

        </div>
    </div>
</div>