p#submitButton {
    text-align: right;
}

p#submitLink {
    text-align: center;
}

div#edit_header {
    text-align: center;
}

.sandi {
    position: relative;
}

.sandi::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.08;
    background-image: url('../../../assets/img/sandiego.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}