<nav-root></nav-root>

<div>
    <div id="edit_header">
        <section class="title">
            <h3 class="welcome">SKR</h3>
            SKR international
            <h5 class="hint">Article submit form.</h5>
        </section>

    </div>

    <form clrForm #f="ngForm" clrLayout="horizontal" clrLabelSize="4">
        <clr-control-container>


            <clr-input-container>
                <label>Author</label>
                <input clrInput type="text" [(ngModel)]="article.author" name="author" required />
                <clr-control-error>We need the author complete name for legal compliance.</clr-control-error>
            </clr-input-container>


            <clr-input-container>
                <label>Title</label>
                <input clrInput type="text" [(ngModel)]="article.title" name="title" required />
                <clr-control-error>Please add a Title to this article.</clr-control-error>
            </clr-input-container>


            <clr-input-container>
                <label>Topic</label>
                <input clrInput type="text" [(ngModel)]="article.topic" name="topic" required />
                <clr-control-error>Add a topic for this article.</clr-control-error>
            </clr-input-container>

            <clr-input-container>

                <label>Add relatinated Link (optional)</label>
                <input clrInput #link type="text" name="link" />

            </clr-input-container>
            <div>
                <p id="submitLink">
                    <button class="btn btn-secondary btn-sm" [disabled]="link === ''" (click)="addLink(link)" id="bt">
                    add link
                </button>
                </p>
            </div>

            <div>
                <ul class="list-unstyled">
                    <li *ngFor="let link of article.links; let index = index">
                        {{link}} <button class="btn btn-link btn-sm" (click)="removeLink(index)">remove</button>
                    </li>
                </ul>
                <br>
            </div>
            <div>
                <br>
                <label>Upload Image/Pictures file (optional) <br><small>(files need to be uploaded before submiting the form by clicking the upload button for each file.)</small></label>
            </div>
            <clr-input-container>
                <input clrInput type="file" (change)="onImageFileChanged($event)" multiple="true" accept="image/x-png,image/gif,image/jpeg" />
            </clr-input-container>

            <div *ngIf="imagePercentage | async as pct">
                <p id="submitButton">
                    <progress [value]="pct" max="100"></progress> {{ pct | number }}%
                </p>
            </div>
            <div *ngIf="imageSnapshot | async as snap">
                {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
            </div>

            <div>
                <ul class="list-unstyled">
                    <li *ngFor="let fileimgName of listOfImageFiles; let index = index">
                        {{fileimgName}} <button class="btn btn-link btn-danger btn-sm" (click)="removeSelectedImageFile(index)">remove</button>
                    </li>
                    <button *ngIf="listOfImageFiles.length > 0" class="btn btn-secondary btn-sm" (click)="saveImageFiles()">upload image</button>
                </ul>
            </div>
            <div>
                <br>
                <label>Upload files (optional) <br><small>(files need to be uploaded before submiting the form by clicking the upload button for each file.)</small></label>
            </div>

            <clr-input-container>
                <input clrInput type="file" (change)="onFileChanged($event)" multiple="true" />
            </clr-input-container>

            <div *ngIf="filePercentage | async as pct">
                <p id="submitButton">
                    <progress [value]="pct" max="100"></progress> {{ pct | number }}%
                </p>
            </div>
            <div *ngIf="fileSnapshot | async as snap">
                {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
            </div>

            <div>
                <ul class="list-unstyled">
                    <li *ngFor="let fileName of listOfFiles; let index = index">
                        {{fileName}} <button class="btn btn-link btn-danger btn-sm" (click)="removeSelectedFile(index)">remove file</button>
                    </li>
                    <button *ngIf="listOfFiles.length > 0" class="btn btn-secondary btn-sm" (click)="saveFiles()">upload files</button>
                </ul>
                <br><br><br>
            </div>

            <clr-textarea-container class="sandi">
                <label>Text</label>
                <textarea clrTextarea rows="20" cols="200" [(ngModel)]="article.text" name="text" required></textarea>
                <clr-control-error>The text is mandatory on the article.</clr-control-error>
            </clr-textarea-container>



            <p id="submitButton">
                <button class="btn btn-primary" type="submit" *ngIf="f.valid" (click)="submit()">Submit</button>
            </p>
        </clr-control-container>
    </form>
</div>